/*伪类，*/
p:first-child{
	color: red;
}

/*其他的伪类举例，（这个使用的时候要注意顺序，不然的话会没有效果）*/
a:hover{
	/*超链接鼠标移上去之后*/
}
a:link{
	/*鼠标默认状态*/
}
a:visited{
	/*点击之后*/
}
a:active{
	/*点击的那一刻*/
}

/*冒号左边没有 标签表示全部的，如果有标签的话表示在该标签下的对应属性*/
:disabled {
	/*这里是找到了所有的被禁用的元素*/
	height: 100px;
}
:enabled{
	/*所有的可用的标签*/
}
:checked{
	/*所有的被选中的标签*/
}
:focus{
	/*所有的获取焦点的标签*/
}
:read-only{
	/*所有的只读标签*/
}
:read-write{
	/*所有的可读可写的标签（正常的状态）*/
}
1